
.ipynb_checkpoints/1-Tareas Básicas en Python-checkpoint.ipynb
.ipynb_checkpoints/1-Tareas Básicas en Python-checkpoint.ipynb
.ipynb_checkpoints/3. Funciones y alcance de variables-checkpoint.ipynb
.ipynb_checkpoints/2. Utilizando Python como una calculadora-checkpoint.ipynb
.ipynb_checkpoints/5.Utilizando Python como una calculadora-checkpoint.ipynb
